@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#mailhopsBox {cursor:pointer;}

#mailhopsResultText {padding-left:4px;}

#mailHopsResultImage {padding-left:4px;display: none;}

#mailhopsDataPaneDetailsLink{
	margin-left: 10px;
	text-align: center;
	padding-right: 14px;
}

#mailhopsDataPaneDetailsLink.active{
	color: #FFF;
	margin-left: 10px;
	background-color: #98a5b3;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    padding-right: 14px;
}

#mailhopsDataPane{
	padding-bottom: 4px;
}

.mailhopsDetail{
	padding-bottom: 2px;
	cursor: pointer;
}

.mailHopsLinkContainer{
	padding-bottom: 4px;
}

.mailhopsContainer{
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #e1e2e5;
	background-color: #f7f8f9;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 4px;
}

.mailhopsWeather, .mailhopsHost, .mailhopsSecureHost, .mailhopsSecure{
	margin-left: 30px;
	padding-bottom: 2px;
}

.mailhopsSecureHost{
	background-image: url(chrome://mailhops/content/images/secure_host.png);
	background-repeat: no-repeat;
}

.mailhopsHost, .mailhopsHostPref{
	background-image: url(chrome://mailhops/content/images/host.png);
	background-repeat: no-repeat;
}

.mailhopsSecure, .mailhopsSecurePref{
	background-image: url(chrome://mailhops/content/images/secure.png);
	background-repeat: no-repeat;
}

.mailhopsWeatherPref{
	background-image: url(chrome://mailhops/content/images/weather/sun.png);
	background-repeat: no-repeat;	
}

.mailhopsWeatherPref checkbox, .mailhopsHostPref checkbox, .mailhopsSecurePref checkbox{
	margin-left: 20px;
	margin-top: 0px;
}

.auth-item{
	display: none;
}

#mailhopsDataPaneMeta label{
	padding-left: 20px;
}