@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#mailhopsResultText { padding-left:20px; background-repeat: no-repeat; }

#mailhopsNoficationBox menuitem .menu-iconic-icon { width: 16px; height: 11px; }

#mailhopsNoficationBox .auth-item { display: none; background-repeat: no-repeat; padding-left: 18px; }

#mhTabs .act { padding-left: 20px; background-repeat: no-repeat; outline : none;}

#mailhopsResultWeather { display: none; background-repeat: no-repeat; padding-left: 18px; }

#mailHopsPreferences {
		font-family: 'Raleway',Arial,sans-serif;
		font-size: 14px;
}

#mailHopsPreferences textbox {
	font-size: 14px;
	padding: 5px;
	color: #777;
}

#mailHopsPreferences tab {
	font-size: 14px;
	padding: 5px;
	color: #333;
}

#mailhopsResult label {
	margin-top: 8px;
}

#mailhopsNoficationBox {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
	position: relative;
	max-height: 50px;
	width: 100%;
	margin: auto;
}

#mailhopsNotification {
	background: #f7f7f7;
}

#mailhopsResult {
  position: relative;
	display: inline-flex;
}

#mailhopsNoficationBox .bar-link {
	cursor: pointer;
	text-decoration: none;
}

#mailhopsNoficationBox .bar-link:hover {
	text-decoration: underline;
}

#mailhopsNoficationBox #mailhopsDataPanePrefsLink {
  border-radius: 20px;
  background-color: #CCC;
  letter-spacing: .1em;
  right: 0;
}

#mailhopsLogo,
#mailhopsResultText,
#mailhopsResultWeather,
#mailhopsUnsubscribe,
#mailhopsDataPaneDNSBL,
#mailhopsDataPaneDKIM,
#mailhopsDataPaneSPF,
#mailhopsDataPaneMailer {
  color: #fff;
}

#mailhopsLogo,
#mailhopsResultText,
#mailhopsResultWeather,
#mailhopsUnsubscribe {
  cursor: pointer;
}

#mailhopsNoficationBox .unsubscribe {
  color: #CCC;
}

#mailhopsLogo {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#mailhopsLogo:hover {
	-webkit-filter: none;
	filter: none;
}

#mailHopsAccountMessage {
	display: none;	
}

#mailhopsDataPaneDetails {
  border-radius: 10px;
	display: none;
	padding: 10px;
	border: 1px solid #CCC;
	color: #333;
	background-color: #FFF;
  position: fixed;
	margin-top: 0;
	z-index: 10000;
}

#mailhopsDataPaneDetails .hop {
  background-repeat: no-repeat;
  display: block;
  position: relative;
  padding-left: 22px;
}

#mailhopsDataPaneDetails .host {
  background-repeat: no-repeat;
  display: block;
  position: relative;
  color: #777;
  padding-left: 22px;
  margin-left: 22px;
}

#mailhopsNoficationBox toolbarseparator {
	appearance: none;
	-moz-appearance: none;
	margin: 3px 0px 3px 0px!important;
}

#mailhopsNoficationBox .toolbarbutton {
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 400;
	padding: 0 4px 0 4px;
	margin: unset!important;
	color: #777!important;
	cursor: pointer;
}

#mailhopsNoficationBox #mailhopsHopsBox:hover, 
#mailhopsNoficationBox #mailhopsRefreshBox:hover, 
#mailhopsNoficationBox #mailhopsUnsubscribeBox:hover, 
#mailhopsNoficationBox #mailhopsHopsBox.active {
	color: #333;
	background-color: #e5e5e5;
	border-radius: 10px;
}

#mailhopsNoficationBox .messageCloseButton, 
#mailhopsNoficationBox .messageDetails:nth-child(2) {
	display: none!important;
}