@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#mailhopsNoficationBox #mailhopsResultText { padding-left:20px; background-repeat: no-repeat; }

#mailhopsNoficationBox menuitem .menu-iconic-icon { width: 16px; height: 11px; }

#mailhopsNoficationBox .auth-item { display: none; background-repeat: no-repeat; padding-left: 18px; }

#mhTabs .act { padding-left: 20px; background-repeat: no-repeat; outline : none;}

#mailhopsResultWeather { display: none; background-repeat: no-repeat; padding-left: 18px; }

#mailHopsPreferences {
		font-family: 'Raleway',Arial,sans-serif;
		font-size: 14px;
}

#mailHopsPreferences textbox {
	font-size: 14px;
	padding: 5px;
	color: #777;
}

#mailHopsPreferences tab {
	font-size: 14px;
	padding: 5px;
	color: #333;
}

#mailhopsResult label {
	margin-top: 8px;
}

#mailhopsNoficationBox {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  background: #5E7A9B;
	overflow-x: scroll;
}

#mailhopsNoficationBox #mailhopsDataPanePrefsLink {
  border-radius: 20px;
  background-color: #CCC;
  letter-spacing: .1em;
  right: 0;
}

#mailhopsNoficationBox #mailhopsLogo,
#mailhopsNoficationBox #mailhopsResultText,
#mailhopsNoficationBox #mailhopsResultWeather,
#mailhopsNoficationBox #mailhopsUnsubscribe,
#mailhopsNoficationBox #mailhopsDataPaneDNSBL,
#mailhopsNoficationBox #mailhopsDataPaneDKIM,
#mailhopsNoficationBox #mailhopsDataPaneSPF,
#mailhopsNoficationBox #mailhopsDataPaneMailer {
  color: #fff;
}

#mailhopsNoficationBox #mailhopsLogo,
#mailhopsNoficationBox #mailhopsResultText,
#mailhopsNoficationBox #mailhopsResultWeather,
#mailhopsNoficationBox #mailhopsUnsubscribe {
  cursor: pointer;
}

#mailhopsNoficationBox .unsubscribe {
  color: #CCC;
}

#mailhopsNoficationBox #mailhopsLogo {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#mailhopsNoficationBox #mailhopsLogo:hover {
	-webkit-filter: none;
	filter: none;
}
