@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#mailhopsBox {cursor:pointer;}

#mailhopsResultText {padding-left:4px;}

#mailHopsResultImage {padding-left:4px;display: none;}

#mailhopsDataPaneDetailsLink{
	margin-left: 10px;
	text-align: center;
	padding-right: 14px;
}

button {
	padding: 10px;
}

#mailhopsDataPaneDetailsLink.active{
	color: #FFF;
	margin-left: 10px;
	background-color: #98a5b3;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    padding-right: 14px;
}

#mailhopsDataPane{
	padding-bottom: 4px;
}

.mailhopsDetail{
	padding-bottom: 2px;
	cursor: pointer;
}

.mailHopsLinkContainer{
	padding-bottom: 4px;
}

.mailhopsContainer{
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #e1e2e5;
	background-color: #f7f8f9;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    word-wrap: break-word;
}

.mailhopsWeather, .mailhopsHost, .mailhopsSecureHost, .mailhopsSecure, .mailhopsW3w {
	margin-left: 30px;
	padding-bottom: 2px;
}

.mailhopsSecureHost{
	background-image: url(chrome://mailhops/content/images/secure_host.png);
	background-repeat: no-repeat;
}

.mailhopsHost{
	background-image: url(chrome://mailhops/content/images/host.png);
	background-repeat: no-repeat;
}

.mailhopsSecure{
	background-image: url(chrome://mailhops/content/images/secure.png);
	background-repeat: no-repeat;
}

.mailhopsW3w {
	background-image: url(chrome://mailhops/content/images/w3w.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.auth-item{
	display: none;
}

#mailhopsDataPaneMeta label{
	padding-left: 20px;
}

#mhTabs .act {
	padding: 5px 10px 5px 20px;
	outline: none;
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
}

#mailHopsPreferences {
		font-family: 'Raleway',Arial,sans-serif;
		font-size: 14px;
}

textbox {
	font-size: 14px;
	padding: 5px;
	color: #777;
}

tab {
	font-size: 14px;
	padding: 5px;
	color: #333;
}

.fa-lock {
	padding-top: 7px;
	color: rgba(73,163,127,1);
}

.fa-unlock-alt {
	padding-top: 7px;
	color: rgba(255,0,0,1);
}

button {
	height: 35px;
}

button.navButton  {
	height: 25px;
	width: 10px;
	text-align: center;
}
