@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#mailhopsBox {cursor:pointer;}

#mailhopsResultText {padding-left:4px;}

#mailHopsResultImage {padding-left:4px;display: none;}

#mailhopsDataPaneDetailsLink{
	margin-left: 10px;
	text-align: center;
	padding-right: 14px;
}

button {
	padding: 10px;
}

#mailhopsDataPaneDetailsLink.active{
	color: #FFF;
	margin-left: 10px;
	background-color: #98a5b3;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    padding-right: 14px;
}

#mailhopsDataPane{
	padding-bottom: 4px;
}

.mailhopsDetail{
	padding-bottom: 2px;
	cursor: pointer;
}

.mailHopsLinkContainer{
	padding-bottom: 4px;
}

.mailhopsContainer{
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #e1e2e5;
	background-color: #f7f8f9;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    word-wrap: break-word;
}

.mailhopsWeather, .mailhopsHost, .mailhopsSecureHost, .mailhopsSecure, .mailhopsW3w {
	margin-left: 30px;
	padding-bottom: 2px;
}

.mailhopsSecureHost{
	background-image: url(chrome://mailhops/content/images/secure_host.png);
	background-repeat: no-repeat;
}

.mailhopsHost{
	background-image: url(chrome://mailhops/content/images/host.png);
	background-repeat: no-repeat;
}

.mailhopsSecure{
	background-image: url(chrome://mailhops/content/images/secure.png);
	background-repeat: no-repeat;
}

.mailhopsW3w {
	background-image: url(chrome://mailhops/content/images/w3w.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.auth-item{
	display: none;
}

#mailhopsDataPaneMeta label{
	padding-left: 20px;
}

#mhTabs .act {
	padding: 5px 10px 5px 20px;
	outline: none;
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
}

#mailHopsPreferences {
		font-family: 'Raleway',Arial,sans-serif;
		font-size: 14px;
}

#mailHopsPreferences textbox {
	font-size: 14px;
	padding: 5px;
	color: #777;
}

#mailHopsPreferences tab {
	font-size: 14px;
	padding: 5px;
	color: #333;
}

.fa-lock {
	padding-top: 7px;
	color: rgba(73,163,127,1);
}

.fa-unlock-alt {
	padding-top: 7px;
	color: rgba(255,0,0,1);
}

.mailHopsLinkContainer button, #mailHopsPreferences button{
	height: 35px;
	color: #333;
}

.mailHopsLinkContainer button.navButton, button.navButton {
	height: 25px;
	width: 10px;
	text-align: center;
	color: #333;
}

@-webkit-keyframes pulsate{0%{-moz-transform:scale(.3);opacity:.2}100%{-moz-transform:scale(1.1);opacity:1}}@-webkit-keyframes pulsate{0%{-webkit-transform:scale(.3);opacity:.2}100%{-webkit-transform:scale(1.1);opacity:1}}@keyframes pulsate{0%{-webkit-transform:scale(.3);transform:scale(.3);opacity:.2}100%{-webkit-transform:scale(1.1);transform:scale(1.1);opacity:1}}.SmartStatus-container{max-width:165px;display:flex}.SmartStatus-iconContainer{padding:2px;flex:0 1 auto}.SmartStatus--success{color:#5CB85C;margin-bottom:20px;padding:0}.SmartStatus--failed{color:#D9534F;margin-top:20px;padding:0}.SmartStatus--running{color:#848992;margin-top:10px;padding:0;-webkit-animation:pulsate 1.5s linear infinite alternate;-moz-animation:pulsate 1.5s linear infinite alternate;animation:pulsate 1.5s linear infinite alternate}.SmartStatus-tooltip{text-align:left;max-width:250px;padding:10px;line-height:22px}.SmartStatus-tooltip--successful,.SmartStatus-tooltip--success{color:#5CB85C;padding-left:5px;padding-right:0;text-shadow:-1px -1px 0 #FFFFFF,1px -1px 0 #FFFFFF,-1px 1px 0 #FFFFFF,1px 1px 0 #FFFFFF}.SmartStatus-tooltip--failed{color:#D9534F;padding-left:5px;padding-right:0;text-shadow:-1px -1px 0 #FFFFFF,1px -1px 0 #FFFFFF,-1px 1px 0 #FFFFFF,1px 1px 0 #FFFFFF}.SmartStatus-tooltip--running{color:#161B1F;padding-left:5px;padding-right:0;text-shadow:-1px -1px 0 #FFFFFF,1px -1px 0 #FFFFFF,-1px 1px 0 #FFFFFF,1px 1px 0 #FFFFFF;-webkit-animation:pulsate 1.5s linear infinite alternate;-moz-animation:pulsate 1.5s linear infinite alternate;animation:pulsate 1.5s linear infinite alternate}
.running {
	font-size: 13px;
	animation: pulsate 1.5s linear infinite alternate;
	color: #5CB85C;
}
.running:before {
  content: "\f111"
}
.error {
	font-size: 13px;
	color: rgba(255,0,0,.6);
}
.error:before {
  content: "\f111"
}

.mailhopsDataPaneSlackLink{
	cursor: pointer;
}
